# macOS
.DS_Store

# Swift Package Manager
.build/
.swiftpm/
Packages/

# Xcode
*.xcodeproj/
*.xcworkspace/
xcuserdata/
DerivedData/
*.hmap
*.ipa

# Code coverage
*.lcov
coverage.xml

# Other
.vscode/
*.swp
*.swo
*~
